services:
  - type: web
    name: forex-telegram-bot
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python server.py"
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        value: 7651666306:AAHPdLdPclIxIsriSmswT6N7x5REwvuQBdw
      - key: TELEGRAM_CHAT_ID
        value: 8137693719
      - key: TELEGRAM_ADMIN_ID
        value: 8137693719
      - key: TWELVE_DATA_API_KEY
        value: 2e08f48192c14bee8d4ecefc763a2a37
      - key: PORT
        value: 10000
