services:
  - type: web
    name: forex-telegram-bot
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python server.py"
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        value: 7651666306:AAHPdLdPclIxIsriSmswT6N7x5REwvuQBdw
      - key: TELEGRAM_CHAT_ID
        value: 8137693719
      - key: TELEGRAM_ADMIN_ID
        value: 8137693719
      - key: FINNHUB_API_KEY
        value: 25a617de10c041e1ad502caa9e12d3b0
      - key: WEBHOOK_URL
        value: https://tradingbotv2.onrender.com
