services:
  - type: web
    name: TradingBot
    env: python
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python -m strategy.train_model && python server.py"
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        value: 7651666306:AAHPdLdPclIxIsriSmswT6N7x5REwvuQBdw
      - key: TELEGRAM_CHAT_ID
        value: 8137693719
      - key: TELEGRAM_ADMIN_ID
        value: 8137693719
      - key: POLYGON_API_KEY
        value: WM3qHfs_R2VILyPyuXnUp2ZRrfcV6i5g
      - key: WEBHOOK_URL
        value: https://tradingbotv2.onrender.com
        - key: GITHUB_TOKEN
        value: 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
        - key: MODEL_URL
        value: 
        - key: GITHUB_REPO
        value: Ken89br/TradingBot
